<div class="container">
  <div class="card text-center mt-5 mb-5">
    <div class="card-header">
      Contacto
    </div>
    <div class="card-body">
      <h2 class="card-title">NewsSystem</h2>
      <img src="https://scontent.fcjs3-1.fna.fbcdn.net/v/t1.0-9/31693125_110760053125555_5704223594272260096_n.jpg?_nc_cat=109&_nc_ht=scontent.fcjs3-1.fna&oh=d5c1b9b15d88c43d16cfa7a99ce6bba5&oe=5D27979F" alt=""
        class="img-thumbnail rounded-circle img-fluid" style="width: 400px; height: 350px;">
      <h3 class="card-text mt-2">Eduardo E. May K. <small>Programador web.</small></h3>
      <p>Este app esta creada con el framework de <a href="https://angular.io/" class="text-decoration-none">Angular 7</a>, se utilizo la base de datos de <a href="https://firebase.google.com/" class="text-decoration-none">Firebase</a></p>
      <a routerLink="/inicio" class="btn btn-primary">Inicio</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
</div>