<div class="container">
  <!-- Alerta -->
  <app-alert [alert]="alert" *ngIf="alert"></app-alert>
  <!-- /Alerta -->
  <div class="card m-3 shadow" *ngFor="let new of news" ngsReveal>
    <div class="card-header">
      {{ new.titulo }}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <img [src]="new.urlImage" class="img img-fluid img-thumbnail float-left m-2" alt="...">
        <p>{{ new.descripcion }}</p>
        <footer class="blockquote-footer">
          <p class="card-text"><small class="text-muted">{{ new.fecha }}</small><span class="badge badge-primary ml-2">{{ new.autor }}</span></p>
        </footer>
        <a routerLink="/new/{{new.id}}" class="btn btn-primary">Ir</a>
      </blockquote>
    </div>
  </div>
</div>
