<div class="container mt-3">
  <h1>Editar perfil</h1>
  <hr>
  <div class="row mb-5">
    <div class="col-md-2">
      <h4>Opciones</h4>
      <hr>
      <a class="cursor-pointer" (click)="viewEditName = !viewEditName; viewEditPhoto = false">Cambiar nombre</a>
      <hr>
      <a class="cursor-pointer" (click)="viewEditPhoto = !viewEditPhoto; viewEditName = false">Cambiar foto</a>
      <hr>
    </div>
    <div class="col-md-10">
      <div class="card mt-3" *ngIf="viewEditName" ngsReveal>
        <div class="card-body">
          <form class="form"
            #formProfile="ngForm" (submit)="uploadUsernameUser()">
            <div class="form-group">
              <label for="usuario" class="">Usuario</label>
              <input type="text" class="form-control" placeholder="Usuario"
                id="usuario" name="username" [(ngModel)]="username">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Guardar</button>
          </form>
        </div>
      </div>
      <div class="card mt-3" *ngIf="viewEditPhoto" ngsReveal>
        <div class="card-body">
          <form (ngSubmit)="uploadImagenUser()">
            <h4 class="h4 font-weight-normal">
              Subir imagen
            </h4>
            <div class="form-group">
              <input type="file" class="form-control" accept=".png, .jpg"
                (change)="onUpload($event)">
            </div>
            <div class="progress mb-3">
              <div [style.width]="(uploadPercent | async) + '%'"
                class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{ uploadPercent | async}}%
              </div>
            </div>
            <input type="hidden" #imageUser [value]="urlImage | async">
            <button *ngIf="urlImage | async; else btnDisable"
              type="submit" class="btn btn-lg btn-primary btn-block">Guardar</button>
            <button type="button" class="btn btn-danger btn-lg btn-block"
              (click)="goBack()">
              Atras
            </button>
            <ng-template #btnDisable>
                <button type="submit" disabled=true class="btn btn-lg btn-secondary btn-block">Guardar</button>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>