<footer class="footer p-4" style="background-color: #7B7D7D; color: #ffffff;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span>&copy; 2019 NewsSystem - All right reserved</span>
      </div>
      <div class="col-md-8">
        <span><a href="https://www.facebook.com/eduardo.may.2018" class="btn btn-facebook mr-2"><i class="mr-2 fa fa-facebook"></i>Facebook</a></span>
        <span><a href="https://twitter.com/Eduardo20400" class="btn btn-primary"><i class="fa fa-twitter"></i>Twitter</a></span>
      </div>
    </div>
  </div>
</footer>
