<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" routerLink="inicio">
    <img src="https://lh3.googleusercontent.com/P8StwFS_w3wfoZyh0gYjIoMCQ44IzWQ3SJ8saq8nkO8WkEbwp2t95y-k6WBp-MReVLXtfnBs30coA5dFJvDDdD2uhKusxFrOnZuSP4SDFncR2s1S8M-1AJrFbZyH9YKAbue5r4-udEmsA8ZwVHZIFWmGX_v0kDIQWwv8vMrJJn1ReM-_qn5lAjk0CyBu2QQ1EPU_wEE9I8Qhdy4s8eMOdK7V7ocTw1UNylLRYkejej5gM_1nN-2G8zfTB2KEow6SGhDkueocfmk0aK4ZMO21_zi-8F6elWRTzl4JPMobloCAWr1EOFmYgQwYgW3Q-xCTtEPiIknSORMxC6kqtQytd6IkU08NeVkGW8KqTxqea1va6_qLCKNfSXrnq-2tepQkJHqcok-apw2uoO4pm1KNWSOsddgmMCmFx6lLFrlS8b0VsyMTRxeKmOsrJFVJXBhJKLUtdrLJJCWNazdLoColkJE1QaZt3nniW4is1wquYX8c_VbzuvmosIDjay2MAjukhEwRsXsqLMBA9_51kj8ehes9N6gIf_i_24smrS8LupYjEfvoAXO3RuifGFKjRrdYYGlkFR_c3oWYea8mzmQOu_NAJ70yX_eOHrWVu5GefqlLbxD10twkuYGf9sysRAZPhmbn_ZOfCevs--Jd7Z6lQGFUT-PKvA=w187-h200-no" width="30" height="30" class="d-inline-block align-top" alt="">
    NewsSystem
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="inicio">Inicio</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="noticias">Noticias</a>
      </li> --> 
      <li class="nav-item" routerLinkActive="active" *ngIf="statusLogin">
        <a class="nav-link" routerLink="misPublicaciones">Mis publicaciones</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="statusLogin">
        <a class="nav-link" routerLink="user/perfil">Perfil</a>
      </li>
      <li class="nav-item mr-2">
        <a class="btn btn-primary" routerLink="user/login" *ngIf="!statusLogin">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" routerLink="user/registro" *ngIf="!statusLogin">Registrate</a>
      </li>
      <li class="nav-item" *ngIf="statusLogin">
        <a class="btn btn-primary text-decoration-none text-white" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>