<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" routerLink="inicio">
    <img src="https://i.ibb.co/V99T55r/ico.png" width="30" height="30" class="d-inline-block align-top" alt="">
    NewsSystem
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="inicio">Inicio</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="noticias">Noticias</a>
      </li> --> 
      <li class="nav-item" routerLinkActive="active" *ngIf="currentUser.status">
        <a class="nav-link" routerLink="misPublicaciones">Mis publicaciones</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item mr-2">
        <a class="btn btn-primary" routerLink="user/login" *ngIf="!currentUser.status">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" routerLink="user/registro" *ngIf="!currentUser.status">Registrate</a>
      </li>
    </ul>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto" *ngIf="currentUser.status">

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-100 small">{{currentUser.name}}</span>
          <img class="img-profile rounded-circle" style="width: 35px; height: 35px;" [src]="currentUser.photo">
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated fadeIn" aria-labelledby="userDropdown">
          <a class="nav-link dropdown-item" routerLink="user/perfil">
            <i class="fa fa-user-circle fa-sm fa-fw mr-2 text-gray-400"></i>
            Perfil
          </a>
          <div class="dropdown-divider"></div>
          <a class="nav-link dropdown-item cursor-pointer" (click)="onLogout()">
            <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>

    </ul>
  </div>
