<div class="modal fade" id="modalNew" 
  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Noticia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm(formNew)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formNew="ngForm" (ngSubmit)="onSaveNew(formNew)">
          <input type="hidden" name="id" [(ngModel)]="_dataApi.selectedNew.id">
          <input type="hidden" name="userUid" [value]="userUid">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Titulo</label>
            <input type="text" class="form-control" id="recipient-name"
              name="titulo" [(ngModel)]="_dataApi.selectedNew.titulo">
          </div>
          <div class="form-group">
            <label for="descripcionCorto" class="col-form-label">Link de la fuente</label>
            <input type="text" class="form-control" id="recipient-name"
              name="urlFuente" [(ngModel)]="_dataApi.selectedNew.urlFuente">
          </div>
          <div class="form-group">
            <label for="descripcion" class="col-form-label">Descripcion</label>
            <textarea class="form-control" id="descripcion"
              name="descripcion" [(ngModel)]="_dataApi.selectedNew.descripcion"></textarea>
          </div>
          <!-- nuevo -->
          <div class="form-group" *ngIf="!_dataApi.selectedNew.id">
            <label for="autor" class="col-form-label">Autor</label>
            <input type="text" class="form-control" id="autor"
              name="autor" [(ngModel)]="nameUser" readonly>
          </div>
          <!-- actualizar -->
          <div class="form-group" *ngIf="_dataApi.selectedNew.id">
            <label for="autor" class="col-form-label">Autor</label>
            <input type="text" class="form-control" id="autor"
              name="autor" [(ngModel)]="_dataApi.selectedNew.autor" readonly>
          </div>
          <div class="form-group" *ngIf="!_dataApi.selectedNew.id">
            <label for="urlImage" class="col-form-label">URl image</label>
            <input type="file" class="form-control" id="urlImage" accept=".png, .jpg"
            (change)="onPreUpdateImg($event)">
            <input type="hidden" #imageUser [value]="urlImageNew | async">
            <div class="progress mb-3">
              <div [style.width]="(uploadPercent | async) + '%'"
                class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{ uploadPercent | async}}%
              </div>
            </div>
            <button type="button" class="btn btn-warning" style="color: #ffffff;" (click)="btnSaveImg()">Subir</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnClose (click)="resetForm(formNew)">Cerrar</button>
            <button type="submit" disabled *ngIf="!statusUpdateNew && !_dataApi.selectedNew.id; else activeBtn" class="btn btn-primary">Guardar</button>
            <ng-template #activeBtn>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>