<div class="container">
  <div class="row" *ngIf="alertAct">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">
        {{ alertMessage }}
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col-md-12 d-flex align-items-center justify-content-center">
        <img src="https://semantic-ui.com/images/wireframe/image.png" *ngIf="!user.photoUrl" 
          class="img-thumbnail shadow rounded-circle img-profile" alt="..." ngsReveal>
        <img [src]="user.photoUrl" *ngIf="user.photoUrl"
          class="img-thumbnail shadow rounded-circle img-profile" alt="..." ngsReveal>
    </div>
  </div>
  <h1 class="text-center" ngsReveal>{{ user.name }}</h1>
  <h4 class="text-center" ngsReveal>{{ tipoUser }}</h4>
  <h5 class="text-center" ngsReveal>{{ provider }}</h5>
  <h5 class="text-center" ngsReveal>{{ user.email }}</h5>
  <div class="row mb-3">
    <div class="col-md-12 text-center" ngsReveal>
      <!-- <button class="btn btn-success text-center" 
        *ngIf="!divUpdatePhoto"  
        (click)="btnUpdatePhoto()">Actualizar perfil</button>
      <a routerLink="/admin/listado" class="btn btn-primary ml-1"
        *ngIf="tipoUser === 'Editor' || tipoUser === 'Administrador'">
        Listado de noticias
      </a>
      <a routerLink="/admin/users" class="btn btn-warning ml-1 text-white"
        *ngIf="tipoUser === 'Administrador'">Usuarios</a> -->

      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu animated fadeIn faster" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item cursor-pointer" type="button"
            *ngIf="!divUpdatePhoto"  
            (click)="btnUpdatePhoto()">
            Editar Perfil
          </button>
          <button class="dropdown-item cursor-pointer" type="button"
            routerLink="/admin/listado"
            *ngIf="tipoUser === 'Editor' || tipoUser === 'Administrador'"
            onclick="window.scrollTo(0,0)">
            Listado de noticias
          </button>
          <button class="dropdown-item cursor-pointer" type="button"
            routerLink="/admin/users"
            *ngIf="tipoUser === 'Administrador'"
            onclick="window.scrollTo(0,0)">
            Usuarios
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <div class="card mt-3" *ngIf="divUpdatePhoto" ngsReveal>
        <div class="card-body">
          <form class="form"
            #formProfile="ngForm" (submit)="uploadUsernameUser()">
            <div class="form-group">
              <label for="usuario" class="">Usuario</label>
              <input type="text" class="form-control" placeholder="Usuario"
                id="usuario" name="username" [(ngModel)]="username">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Guardar</button>
          </form>

          <form (ngSubmit)="uploadImagenUser()">
            <h4 class="h4 font-weight-normal">
              Subir imagen
            </h4>
            <div class="form-group">
              <input type="file" class="form-control" accept=".png, .jpg"
                (change)="onUpload($event)">
            </div>
            <div class="progress mb-3">
              <div [style.width]="(uploadPercent | async) + '%'"
                class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{ uploadPercent | async}}%
              </div>
            </div>
            <input type="hidden" #imageUser [value]="urlImage | async">
            <button *ngIf="urlImage | async; else btnDisable"
              type="submit" class="btn btn-lg btn-primary btn-block">Guardar</button>
            <ng-template #btnDisable>
                <button type="submit" disabled=true class="btn btn-lg btn-secondary btn-block">Guardar</button>
            </ng-template>
          </form>
        </div>
        </div>
    </div>
  </div>
</div>