<div class="container">
  <div class="row" *ngIf="alertAct">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">
        {{ alertMessage }}
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col-md-12 d-flex align-items-center justify-content-center">
        <img src="https://semantic-ui.com/images/wireframe/image.png" *ngIf="!user.photoUrl" 
          class="img-thumbnail shadow rounded-circle img-profile" alt="..." ngsReveal>
        <img [src]="user.photoUrl" *ngIf="user.photoUrl"
          class="img-thumbnail shadow rounded-circle img-profile" alt="..." ngsReveal>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center" ngsReveal>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu animated fadeIn faster" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item cursor-pointer" type="button"
            routerLink="edit/{{userUid}}">
            Editar Perfil
          </button>
          <button class="dropdown-item cursor-pointer" type="button"
            routerLink="/admin/listado"
            *ngIf="tipoUser === 'Editor' || tipoUser === 'Administrador'"
            onclick="window.scrollTo(0,0)">
            Listado de noticias
          </button>
          <button class="dropdown-item cursor-pointer" type="button"
            routerLink="/admin/users"
            *ngIf="tipoUser === 'Administrador'"
            onclick="window.scrollTo(0,0)">
            Usuarios
          </button>
        </div>
      </div>
      <h1 class="text-center" ngsReveal>{{ userAuth.name }}</h1>
      <h4 class="text-center" ngsReveal>{{ tipoUser }}</h4>
      <h5 class="text-center" ngsReveal>{{ provider }}</h5>
      <h5 class="text-center" ngsReveal>{{ user.email }}</h5>
    </div>
  </div>
</div>