<div class="container mt-4 mb-4">
  <h1 class="h1">
    AVISO DE PRIVACIDAD
  </h1>
  <hr>
  <br>
  <p>
    De acuerdo a lo previsto en la "LEY FEDERAL de Protección de Datos Personales" el Sr. Eduardo May Kumul quien tiene su domicilio ubicado en, Reg - 235 declara ser el responsable del tratamiento de sus datos personales.
    <br>
    Oficina de privacidad ubicada en: Mismo domicilio.
    <br>
    Teléfonos de la oficina de privacidad: 9981362079
    <br>
    Correo electrónico: eduardo_may@outlook.com .
    <br><br>
    <b>DEFINICIONES:</b>
    <br><br>
    <b>Datos personales.-</b> Cualquier información concerniente a una persona física identificada o identificable.
    <br>
    <b>Titular.-</b> La persona física (TITULAR) a quien identifica o corresponden los datos personales.
    <br>
    <b>Responsable.-</b> Persona física o moral de carácter privado que decide sobre el tratamiento de los datos personales.
    <br>
    <b>Tratamiento.-</b> La obtención, uso (que incluye el acceso, manejo, aprovechamiento, transferencia o disposición de datos personales), divulgación o almacenamiento de datos personales por cualquier medio.
    <br>
    <b>Transferencia.-</b> Toda comunicación de datos realizada a persona distinta del responsable o encargado del tratamiento.
    <br>
    <b>Derechos ARCO.-</b> Derechos de acceso, rectificación, cancelación y oposición.
    <br>
    <b>Consentimiento Tácito.-</b> Se entenderá que el titular ha consentido en el tratamiento de los datos, cuando habiéndose puesto a su disposición el Aviso de Privacidad, no manifieste su oposición.
    <br>
    <b>FINALIDADES PRIMARIAS.-</b> Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:
    <br><br>
    Fines sociales
  </p>
</div>
