<div class="container">
  <h1 class="h1">Listado de noticias</h1>
  <hr>
  <button class="btn btn-primary mb-2"
    data-toggle="modal"
    data-target="#modalNew">Agregar</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Fecha</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let new of news | paginate: { itemsPerPage: 10, currentPage: pageActual }; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ new.titulo }}
        </td>
        <td>
          {{ new.autor }}
        </td>
        <td>
          {{ new.fecha }}
        </td>
        <td *ngIf="new.userUid === userUid || isAdmin == true; else noAdminUpdate">
          <button class="btn btn-warning mr-1" style="color: #ffffff;"
            data-toggle="modal" data-target="#modalNew"
            (click)="onPreUpdateNew(new)">Actualizar</button>
        </td>
        <ng-template #noAdminUpdate>
            <td>
              <button class="btn btn-secondary" disabled>
                Actualizar
              </button>
            </td>
          </ng-template>
        <td *ngIf="new.userUid === userUid || isAdmin == true; else noAdminDelete">
          <button class="btn btn-danger" (click)="onDeleteNew(new.id)">Eliminar</button>
        </td>
        <ng-template #noAdminDelete>
            <td>
              <button class="btn btn-secondary" disabled>
                Eliminar
              </button>
            </td>
          </ng-template>
      </tr>
    </tbody>
  </table>
  <pagination-controls 
    (pageChange)="pageActual = $event"
    directionLinks="true"
    autoHide="true"
    responsive="true"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>

<app-modal [userUid]="userUid"></app-modal>