<div class="container mt-5 mb-5">
  <h1>Mis publicaciones</h1>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMes !== ''">
    {{errorMes}}
  </div>
  <div class="card mt-2 mb-2" *ngFor="let new of newsUser">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button type="button" class="btn btn-primary mr-1">Editar</button>
      <button type="button" class="btn btn-danger">Eliminar</button>
    </div>
  </div>
</div>